FarmaUAICenter/Connected Services/ServiceReference1/WebServicePromo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPromo">
        <s:complexType />
      </s:element>
      <s:element name="ListarPromoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarPromoResult" type="tns:ArrayOfPromo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPromo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Promo" nillable="true" type="tns:Promo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Promo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPromo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreProducto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioProducto" type="s:float" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPromoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPromo" />
  </wsdl:message>
  <wsdl:message name="ListarPromoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPromoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePromoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarPromo">
      <wsdl:input message="tns:ListarPromoSoapIn" />
      <wsdl:output message="tns:ListarPromoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePromoSoap" type="tns:WebServicePromoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPromo">
      <soap:operation soapAction="http://tempuri.org/ListarPromo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePromoSoap12" type="tns:WebServicePromoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPromo">
      <soap12:operation soapAction="http://tempuri.org/ListarPromo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePromo">
    <wsdl:port name="WebServicePromoSoap" binding="tns:WebServicePromoSoap">
      <soap:address location="http://localhost:3273/WebServicePromo.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePromoSoap12" binding="tns:WebServicePromoSoap12">
      <soap12:address location="http://localhost:3273/WebServicePromo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>